<div class="container">

  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          <mat-form-field class="d-flex flex-column">
            <mat-select placeholder="Choose file" [value]="selected"
             #selectbox (selectionChange)="loadForm(selectbox.value)">
              <mat-option *ngFor="let file of fileTypes" [value]="file" >
                {{ file.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <app-dynamic-form *ngIf="config" [config]="config" #form="appDynamicForm" (submit)="submit($event)">
          </app-dynamic-form>
     
        </div>
      </div>
    </div>
  </div>

</div>